

$color-secondary: #8f2291; //#0088CC
$color-secondary-hover: rgb(175, 87, 177); //##00a1f2
$color-secondary-active:  #b328b5;//#0077b3

$color-primary: #e7dc1c; 
$color-primary-hover: #e9e47a;
$color-primary-active: #e0da67; 

$color-tertiary: #2BAAB1; //#2BAAB1
$color-tertiary-hover: #7dc9cd; 
$color-tertiary-active: $color-tertiary; 

$color-quaternary: #383f48; //#383f48
$color-quaternary-hover: #747b84;  
$color-quaternary-active: $color-quaternary; 

